@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 
#https://coolors.co/ebebeb-feffeb-c9c9c9-e0e0e0;
:root {
    --primary-color: #ebebeb; /* Light Gray */
    --secondary-color: #feffeb; /* Light Yellow */
    --accent1-color: #c9c9c9; /* Gray */
    --accent2-color: #e0e0e0; /* Light Gray */
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--primary-color#ebebeb);
    color: var(--accent2-color #e0e0e0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--accent1-color#c9c9c9);
}

header,main,footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,h2{
    font-weight: 100;
     color: var(--primary-color #ebebeb);
}

nav,p,section,article {
margin: 16px;
padding: 8px;}



.socialmedia a{
    text-decoration: none;
}


.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top:20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color#c9c9c9);
    color: wheat;
}

.hero article {
    float: right;
    width: 125px;
}


