/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Rowdies:wght@400;700&display=swap'); */
:root {
    --primary-color:#1c7c54;
    --secondary-color:#73e2a7;
    --accent1-color:#def4c6;
    --accent2-color:#1b512d;
    --heading-font: "Rowdies", sans-serif;
    --body-font-family:  "Rowdies", sans-serif;
}

header {
    background-color: var(--primary-color #1c7c54);
    color: var(--accent2-color #1b512d);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Rowdies", sans-serif;
    font-weight: 700;
    color: var(--accent1-color #def4c6);
}

header,main,footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,h2{
    font-weight:400;
     color: var(--primary-color #1c7c54);
}

nav,p,section,article {
margin: 16px;
padding: 8px;}



.socialmedia a{
    text-decoration: none;
}


.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top:20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color #def4c6);
    color: black;
}

.hero article {
    float: right;
    width: 125px;
}


