nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
    }
main img {
    width: 200px;
    height: auto;
    margin: 1em;
    border:10px solid rgba(0,0,0,2); 
    padding: 1rem;
    background-color: #eeeeee;
    color: black;
    text-align: center;
}

aside {
    width: 200px;
    height: auto;
    margin: 2;
    border:10px solid rgba(0,0,0,2); 
    padding: 1rem;
    background-color: #eee;
   color: cornflowerblue;
    text-align: center;
    

    
}
p {
    padding:0;
  
}
aside img {
    width: 200px;
    height: auto;
    margin: 0em;
    border:1px solid rgba(0,0,0,2);
    padding: 0rem;
    background-color:gainsboro;
    color: black;
    text-align: center;
}
     

footer {
  margin-top:1em;
  border-top: 1px solid #000;
  text-align: center;
}