nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
    }


aside {
    width: 200px;
    margin:2;
    border: 5pxpx solid rgba(0,0,0,2); 
    padding: 0;
    background-color: #eee;
   color:black

        
}
aside main img { 
    width: 200px;
    height: auto;
}
main img {
    width: 200px;
    height: auto;
    margin: 1em;
    border:5px solid rgba(0,0,0,2); 
    padding: 1rem;
    background-color: #eeeeee;
    color: black;
}

p {
    padding:0;
}

footer {
  margin-top: auto;
  border-top: 0cm;
  text-align: center;
}